body {
  background: #141414;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.container {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  text-align: center;
}

.iframe-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.iframe-wrapper::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.links a {
  margin-top: 30px;
  padding: 14px 20px;
  width: 230px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.youtube {
  background: #c4302b;
}

.patreon {
  background: #e64413;
}

.spotify {
  background: #1ed761;
}

.itunes {
  background: #ea4cc0;
}

.twitter {
  background: #38a1f3;
}

.redbubble {
  background: #D1322E
}
